.container-home {
  background-image: linear-gradient(45deg, #7d4b79, #dfd5de, #66105f);
  padding: 14px;
}
.home-filtros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.warning {
  color: orange;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}
